<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Loga</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link" href="/products">Products</a>
            <a class="nav-item nav-link" href="/users">Users</a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>
    </div>
</nav>




<div class="container">
    <h2 style="text-align: center">Admin page</h2>

    <h4>User list</h4>
    <a href="/admin/users/add">Add new user</a>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Manage</th>
        </tr>
        </thead>
        <tbody>
        {{#users}}
            <tr>
                <th scope="row">{{u_id}}</th>
                <td>{{name}}</td>
                <td>{{email}}</td>
                <td>{{role}}</td>
                <td> <a href="/admin/users/update/{{u_id}}">Update</a> |  <a href="/admin/users/delete/{{u_id}}">Delete</a></td>

            </tr>
        {{/users}}
        </tbody>
    </table>

    <h4>Product List</h4>
    <a href="/products/add">Add new product</a>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Product</th>
            <th scope="col">Description</th>
            <th scope="col">Manage</th>
        </tr>
        </thead>
        <tbody>
        {{#products}}
            <tr>
                <th scope="row">{{p_id}}</th>
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td><a href="/products/update/{{p_id}}">Update</a>  | <a href="/products/delete/{{p_id}}">Delete</a> </td>
            </tr>
        {{/products}}
        </tbody>
    </table>


</div>
</body>
</html>