<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="width: 500px; margin: auto;">
    <h1>Add your bid!</h1>

    <form method="POST" action="/updatedbid">
        <input type="hidden" name="p_id" class="form-control" value="{{product.p_id}}">
        <br>
        <label>Name</label>
        <input type="text" name="name" class="form-control" value="{{product.name}}" readonly>

        <label>Description</label>
        <input type="text" name="description" class="form-control" value="{{product.description}}" readonly>
        <br>

        <label>Add your bid here:</label>
        <input type="text" name="price" class="form-control" value="{{product.price}}">
        <br>
        <button class="btn btn-primary" type="submit">Add Bid</button>

    </form>


</div>
</body>
</html>