<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Loga</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link" href="/products/add">Add product</a>
            <a class="nav-item nav-link" href="/products/page/0">All products</a>
            <a class="nav-item nav-link" href="/products/user/page/0">My products</a>
            <a class="nav-item nav-link" href="/logout">Log out</a>
            <p class="nav-item nav-link">Categories:</p>
            <a class="nav-item nav-link" href="/products/beer/page/0">Beer</a>
            <a class="nav-item nav-link" href="/products/wine/page/0">Wine</a>
            <a class="nav-item nav-link" href="/products/spirit/page/0">Spirit</a>
        </div>
    </div>
</nav>

<h2 style="text-align: center; color: royalblue;"> Welcome! These are our products up for auction.</h2>
<div class="container">


    <div class="card-columns" style="flex: border-box">
        {{#products}}
            <div class="card" style="margin: 30px">
                <img class="card-img-top" src="{{img}}" alt="Card image">
                <div class="card-body">
                    <h4>{{name}}</h4>
                    <p>{{description}}</p>
                    <p>Seller: <a href="/user/sellerinfo/{{user.u_id}}">{{user.email}}</a></p>
                    <p>Starting price: {{price}}</p>
                    <p>Expires at: {{expires}}</p>
                    <p>Expired: {{expired}}</p>
                    <p>Top 3:</p>
                    <ol>
                        {{#bids}}
                            <li>
                                <p>{{price}}</p>
                            </li>
                        {{/bids}}
                    </ol>
                    <p><a href="/products/allbids/{{p_id}}">See all bids</a></p>
                    <br>
                    <a href="/addbid/{{p_id}}">Add a bid</a>
                </div>
            </div>
        {{/products}}
        <br>
    </div>

    Page {{displayableCurrentPageNumber}} of {{totalPages}}<br>
    {{#hasPrevious}}
        <a href="/products/page/{{previousPageNumber}}">
            Previous page
        </a>
    {{/hasPrevious}}
    |
    {{#hasNext}}
        <a href="/products/page/{{nextPageNumber}}">
            Next page
        </a>
    {{/hasNext}}


</div>

</body>
</html>