<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Loga</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home</a>
            <a class="nav-item nav-link" href="products/add">Add Product</a>
            <a class="nav-item nav-link" href="products">My Products</a>
        </div>
    </div>
</nav>

<h2 style="text-align: center; color: royalblue;"> Welcome To User Page</h2>
<a href="/findbeer">Beer Category</a>
<div class="container">
    <div class="card-columns" style="flex: border-box">
        {{#products}}
            <div class="card" style="margin: 30px">
                <img class="card-img-top" src="{{img}}" alt="Card image">
                <div class="card-body">
                    <h4>{{name}}</h4>
                    <p>{{description}}</p>
                    <p> Start Price: {{price}}</p>
                    <p>Bud:</p>
                    {{#pricedesc}}<p>{{price}} </p>{{/pricedesc}}
                    <br>
                    <a href="/addbid/{{p_id}}">Add a bid</a>
                </div>
            </div>
            {{/products}}
        <br>
    </div>

    Page {{displayableCurrentPageNumber}} of {{totalPages}}<br>
    {{#hasPrevious}}
        <a href="/page/{{previousPageNumber}}">
            Previous page
        </a>
    {{/hasPrevious}}
    |
    {{#hasNext}}
        <a href="/page/{{nextPageNumber}}">
            Next page
        </a>
    {{/hasNext}}


</div>

</body>
</html>